In [1]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

#### <font color='blue'>Note that using Pandas to read the webpage doesn't work

In [2]:
url = 'https://waterdata.usgs.gov/nwis/dv?cb_00060=on&format=rdb&site_no=03431500&referred_module=sw&period=&begin_date=2017-01-22&end_date=2018-01-22'
df = pd.read_html(url)
df.head()

ValueError: No tables found

#### <font color='blue'>Using BeautifulSoup instead of pandas

In [4]:
url = 'https://waterdata.usgs.gov/nwis/dv?cb_00060=on&format=rdb&site_no=03431500&referred_module=sw&period=&begin_date=2017-01-22&end_date=2018-01-22'
page = requests.get(url).text
soup = BeautifulSoup(page,"lxml")

#### Locate the data table, which is a long string, not html table object

In [24]:
lines = soup.find(text=re.compile('USGS')).splitlines()
data = [line.split('\t') for line in lines if line.split('\t')[0]=='USGS']
columns = [line.split('\t') for line in lines if line.split('\t')[0]=='agency_cd']

In [27]:
df = pd.DataFrame(data,columns=columns[0])
df.head()

  agency_cd   site_no    datetime 129903_00060_00003 129903_00060_00003_cd
0      USGS  03431500  2017-01-22              43800                     P
1      USGS  03431500  2017-01-23              29300                     P
2      USGS  03431500  2017-01-24              24000                     P
3      USGS  03431500  2017-01-25              28500                     P
4      USGS  03431500  2017-01-26              30600                     P