In [1]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

#### <font color='blue'>Note that using Pandas to read the webpage doesn't work

In [2]:
url = 'https://waterdata.usgs.gov/nwis/dv?cb_00060=on&format=rdb&site_no=03431500&referred_module=sw&period=&begin_date=2017-01-22&end_date=2018-01-22'
df = pd.read_html(url)
df.head()

ValueError: No tables found

#### <font color='blue'>Using BeautifulSoup instead of pandas

In [51]:
url = 'https://waterdata.usgs.gov/nwis/dv?cb_00060=on&format=rdb&site_no=03431500&referred_module=sw&period=&begin_date=2017-01-22&end_date=2018-01-22'
page = requests.get(url).text
soup = BeautifulSoup(page,"lxml")

#### Locate the data table, which is a long string, not html table object

In [52]:
lines = soup.find(text=re.compile('USGS')).splitlines()
data = [line.split('\t') for line in lines if line.split('\t')[0]=='USGS']
columns = [line.split('\t') for line in lines if line.split('\t')[0]=='agency_cd']

In [55]:
df = pd.DataFrame(data,columns=columns[0])
for col in df.columns:
    if col[-5:]=='00003':
        break
df_day = df[['datetime',col]]

In [59]:
df_day.rename(columns={col:'discharge_cfs','datetime':'date'},inplace=True)
df_day = df_day.set_index('date')
df_day.head()

/Applications/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

           discharge_cfs
date
2017-01-22         43800
2017-01-23         29300
2017-01-24         24000
2017-01-25         28500
2017-01-26         30600